In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [2]:
df = pd.read_csv("adult.csv")
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
df['income'] = df['income'].str.strip()

In [4]:
X = df.drop('income', axis=1)
y = df['income']

In [5]:
categorical_cols = X.select_dtypes(include='object').columns
numerical_cols = X.select_dtypes(include=['int64', 'float64']).columns

In [6]:
X_encoded = pd.get_dummies(X, columns=categorical_cols, drop_first=True)

In [7]:
scaler = StandardScaler()
X_encoded[numerical_cols] = scaler.fit_transform(X_encoded[numerical_cols])

In [8]:
le = LabelEncoder()
y_encoded = le.fit_transform(y)

In [9]:
df_final = pd.concat(
    [X_encoded, pd.Series(y_encoded, name='income')],
    axis=1
)

In [13]:
df_final.to_csv("adult_processed.csv.gz", index=False, compression='gzip')

In [11]:
df_final.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,income
0,-0.995129,0.351675,-1.197259,-0.144804,-0.217127,-0.034087,False,False,False,True,...,False,False,False,False,False,False,True,False,False,0
1,-0.046942,-0.945524,-0.419335,-0.144804,-0.217127,0.772930,False,False,False,True,...,False,False,False,False,False,False,True,False,False,0
2,-0.776316,1.394723,0.747550,-0.144804,-0.217127,-0.034087,False,True,False,False,...,False,False,False,False,False,False,True,False,False,1
3,0.390683,-0.277844,-0.030373,0.886874,-0.217127,-0.034087,False,False,False,True,...,False,False,False,False,False,False,True,False,False,1
4,-1.505691,-0.815954,-0.030373,-0.144804,-0.217127,-0.841104,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0